
.container{
    margin-top:10px;
}
.card:hover{
    background:#ecf0f1;
    border: none;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.39);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.39);
}
.card{
    margin-top:10px;
}

 /* Extra small devices (portrait phones)*/
 @media (max-width:575px) {
    
  }