
.container{
    position: relative;
    height: 100vh;
}

.btn_container {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.btn-lg{
    margin: 10px;
    padding: 25px;
}
 /* Extra small devices (portrait phones)*/
 @media (max-width:575px) {
    #check_img{
      display: none;
    }
  }