body {
    background: #9CECFB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
.btn {
    border-radius: 5rem;
   transition: all 0.2s;
  }




/* Toggle */
.item {
	position: relative;

}

.item:nth-child(1) p {
	border: 0;
}


input[type="checkbox"] {
	display: none;
}

.toggle {
	position: absolute;
}

.toggle label,
.toggle i {
	box-sizing: border-box;
	display: block;
	background: #ffffff;
}

.toggle label {
	width: 51px;
	height: 32px;
	border-radius: 32px;
	border: 2px solid #e5e5e5;
	transition: all 0.30s ease;
}

.toggle i {
	position: absolute;
	top: 2px;
	left: 2px;
	width: 28px;
	height: 28px;
	border-radius: 28px;
	box-shadow: 0 0 1px 0 rgba(0,0,0, 0.25),
				0 3px 3px 0 rgba(0,0,0, 0.15);
	background: #ffffff;
	transition: all 0.3s cubic-bezier(0.275, -0.450, 0.725, 1.450);
}

input[type="checkbox"]:active + .toggle i {
	width: 35px;
}

input[type="checkbox"]:active + .toggle label,
input[type="checkbox"]:checked + .toggle label {
	border: 16px solid #4cd964;
}

input[type="checkbox"]:checked + .toggle i {
	left: 21px;
}

input[type="checkbox"]:checked:active + .toggle label {
	border: 16px solid #e5e5e5;
}

input[type="checkbox"]:checked:active + .toggle i {
	left: 14px;
}
/* end toggle */
.card-body{
	text-decoration: none;
	color: black;
}
.card-body:hover{
	text-decoration: none;
	color: black;
}
input {
    border-radius: 50px;
    border: 1px solid #c3c3c3;
}